.analysisContainer {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.analysisContainer h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #1e293b;
}

.analysisLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.analysisLinks li {
    margin: 10px;
}

.analysisLinks a {
    text-decoration: none;
    color: #2563eb;
    transition: color 0.2s ease;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}

.analysisLinks a:hover {
    color: #1e293b;
    background-color: #eaeaea;
}

.analysisLinks a svg {
    margin-right: 10px;
}
